@model apotek.Models.Transaksi

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Transaksi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdObat" class="control-label"></label>
                <select asp-for="IdObat" class ="form-control" asp-items="ViewBag.IdObat"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdPembeli" class="control-label"></label>
                <select asp-for="IdPembeli" class ="form-control" asp-items="ViewBag.IdPembeli"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdApoteker" class="control-label"></label>
                <select asp-for="IdApoteker" class ="form-control" asp-items="ViewBag.IdApoteker"></select>
            </div>
            <div class="form-group">
                <label asp-for="TglTransaksi" class="control-label"></label>
                <input asp-for="TglTransaksi" class="form-control" />
                <span asp-validation-for="TglTransaksi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalHarga" class="control-label"></label>
                <input asp-for="TotalHarga" class="form-control" />
                <span asp-validation-for="TotalHarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
